.about-section__picture-container {
  display: flex;
}
.about-section_image {
  max-width: 25rem;
  height: 25rem;
}

.about-section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $brand-color-secondary-light;
  min-height: 4rem;
}
.about-section__text {
  padding: 4% 10% 6% 10%;
}