.brand-section__sub-header {
  background-color: $brand-color-dark;
  text-align: center;
  padding: 2rem;
  color: $brand-font-color;

  h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 1rem;
  }
}

.brand-section__content-container {
  padding: 6% 14% 6% 14%;
}

.brand-section__content-container {
  background-color: $brand-color;
  color: $brand-font-color;
}

.brand-section__list {
  color: $brand-font-color;
  margin: 0px 0px 20px 0px;
  padding: 0% 0% 3% 0%;

  .fa-question-circle::before {
    color: $brand-color-secondary;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.2px;
    margin: 15px 0px 20px 0px;
  }

  p {
    line-height: 1.4rem;
    margin: 0;
  }
}

.brand-section__list--dark {
  h2 {
    color: $brand-font-color;
  }
}


.brand-section__list-item {
  position: relative;
  list-style:none;

  &::before {
    content: '1';
    text-align: center;
    font-size: 2rem;
    display: block;
    position: absolute;
    font-weight: bold;
    left: -3rem;
    top: -0.4rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: #a59578;
    border-radius: 100%;
  }

  &:nth-child(2)::before {
    content: '2';
  }

  &:nth-child(3)::before {
    content: '3';
  }

  &:nth-child(4)::before {
    content: '4';
  }

  &:nth-child(5)::before {
    content: '5';
  }

  &:nth-child(6)::before {
    content: '6';
  }
}
