.image-carousel {
  text-align: center;
  max-width: 60rem;
  margin: auto;
}

.image-carousel__image-thumb-container > img {
  height: 6rem;
  cursor: pointer;

  &.thumb:hover {
    transform: scale(1.5, 1.5);
  }
}

.image-carousel__main-image {
  max-height: 30rem;
  margin: auto;
  cursor: zoom-in;
}
