.contact-form {
  display: block;
  margin: auto;
  max-width: 40rem;
  padding: 0 2rem;

  .form-row {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    label {
      display: block;
      min-width: 12rem;

      @include media-breakpoint-up(md) {
        text-align: right;
        padding: 0.25rem 0.5rem;
      }
    }

    .input-container {
      flex: 1;

      input, select {
        width: 100%;
        min-height: 2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
  
      textarea {
        width: 100%;
        min-height: 5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      .error-message {
        color: #f00;
      }
    }

    input[type=submit] {
      padding: 0.5rem;
      margin-left: auto;
      display: block;

      @include media-breakpoint-up(md) {
        margin-left: 0;
      }
    }
  }
}
