.FAQ-section__sub-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $brand-color-secondary-light;
  min-height: 4rem;

  h3 {
    color: $brand-font-color-secondary-light;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 1rem;
  }
}

.FAQ-section__sub-header--dark {
  background-color: $brand-color-light;

  h3 {
    color: $brand-font-color;
  }
}

.FAQ-section__questions-section-container {
  padding: 6% 14% 6% 14%;
}

.FAQ-section__questions-section-container--dark {
  background-color: $brand-color-dark;
  color: $brand-font-color;
}

.FAQ-section__question-containter {
  margin: 0px 0px 20px 0px;
  padding: 0% 0% 3% 0%;

  .fa-question-circle::before {
    color: $brand-color-secondary;
  }

  h2 {
    color: #1E1E1E;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.2px;
    margin: 15px 0px 20px 0px;
  }

  p {
    line-height: 1.4rem;
    margin: 0;
  }
}

.FAQ-section__question-containter--dark {
  h2 {
    color: $brand-font-color;
  }
}

