@use 'mixins' as theme;

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: theme.$brand-color;
  color: theme.$brand-font-color;
  min-height: 3.75rem;
  padding: 0 3.75rem;
  margin-top: 2rem;
}

.footer__link {
  color: theme.$brand-font-color;
  margin-left: 1rem;
  text-decoration: none;
}
