.image-bar-container {
  display: flex;
  height: 20rem;
  align-items: stretch;
  margin-bottom: 2rem;
  overflow: hidden;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.image-bar-container__image {
  flex: 1;
  object-fit: cover;

  &:nth-child(n + 2) {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &:nth-child(n + 3) {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &:nth-child(n + 4) {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
