@use 'bootstrap4/breakpoints';

.image-bar-container {
  display: flex;
  height: 20rem;
  align-items: stretch;
  margin-bottom: 2rem;
  overflow: hidden;
  justify-content: center;

  @include breakpoints.media-breakpoint-down(sm) {
    display: none;
  }
}

.image-bar-container__image {
  flex: 1;
  min-width: 0;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(n + 2) {
    @include breakpoints.media-breakpoint-down(sm) {
      display: none;
    }
  }
  &:nth-child(n + 3) {
    @include breakpoints.media-breakpoint-down(md) {
      display: none;
    }
  }
  &:nth-child(n + 4) {
    @include breakpoints.media-breakpoint-down(lg) {
      display: none;
    }
  }
}
