$base-font-color: #1E1E1E; // Against white background
$base-color: #fff;

$brand-color: #03045e;
$brand-color-light: lighten($brand-color, 10%);
$brand-color-dark: darken($brand-color, 7%);
$brand-color-secondary: #46549e;
$brand-font-color-secondary: #fff;
$brand-color-secondary-light: lighten($brand-color-secondary, 10%);
$brand-font-color-secondary-light: lighten($brand-font-color-secondary, 10%);;
$brand-font-color: #fff;

$narrow-content-max-width: 50rem;
