$base-font-color: #1E1E1E; // Against white background
$base-color: #fff;

$brand-color: #03045e;
$brand-color-light: lighten($brand-color, 10%);
$brand-color-dark: darken($brand-color, 7%);
$brand-color-secondary: #ade8f4;
$brand-font-color-secondary: #03045e;
$brand-color-secondary-light: lighten($brand-color-secondary, 10%);
$brand-font-color-secondary-light: #17253D;
$brand-font-color: #fff;
