$font-color: #1E1E1E; // Against white background

$brand-color: #30413b;
$brand-color-light:#4D635A;
$brand-color-dark: #1F2D27;
$brand-color-secondary: #a59578;
$brand-color-secondary-light: #D7CFBF;
$brand-font-color-secondary-light: #17253D;
$brand-font-color: #fff;
