.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $brand-color-secondary;
  color: $brand-font-color-secondary;
  min-height: 5rem;
  padding: 0 3.75rem;
}

.navbar__links {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.navbar__item {
  margin: 0 1rem;
}

.navbar__link {
  color: $brand-font-color-secondary;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__item-divider {
  border-left: 1px solid $brand-font-color-secondary;
}