@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


@import 'mixins';
@import 'bootstrap4/bootstrap-mixins';
@import 'bootstrap4/variables';
@import 'bootstrap4/breakpoints';
@import 'bootstrap4/display';
@import 'footer';
@import 'navbar';
@import 'commissions';
@import 'FAQ';
@import 'image-bar';
@import 'brand-section';
@import 'main-section-bar';

$index-link-card-width: 25rem;

/* ======================= from https://www.joshwcomeau.com/css/custom-css-reset/ ========== */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
// * {
//   margin: 0;
// }
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  // line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ===================================================================================== */


body {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  // font-family: 'Font Awesome 5 Free';
  font-weight: 300;
  color: $base-font-color;
  line-height: 1.6rem;
}

.uppercase {
  text-transform: uppercase !important;
}

.index-links-container {
  background-color: #d7d9db;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.index-links-container__inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: $index-link-card-width * 2.3;
  margin: auto;
}

.index-links-container__card {
  margin-bottom: 2rem;
  display: flex;
  padding: 2rem 2.5rem;
  border-radius: 0.625rem;
  width: $index-link-card-width;
  background-color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.index-links-container__card-image {
  background-image: url(/images/image-1.jpg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  height: 16rem;
  width: 16rem;
  margin: auto;
}

.index-links-container__card-link {
  font-size: 1.125rem;
  font-weight: 500;
  color: $brand-color-light;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: $brand-color-light;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  text-decoration: none;

  &:focus, &:hover {
    color: $brand-font-color-secondary;
    background-color: $brand-color-secondary;
    border-color: $brand-color-secondary;
  }
}