<div class="brand-section__list-item">
  <div class="brand-section__list-item-custom-bullet">
    <i class="fas fa-question-circle fa-2x"></i>
  </div>
  <h2>{{i18n 'faq.questions' questionIndex 'question'}}</h2>
  <p>{{i18n 'faq.questions' questionIndex 'answer'}}</p>
</div>