<div class="image-bar-container">
  <div class="image-bar-container__image" style="background-image: url('/images/image-1.jpg')"></div>
  <div class="image-bar-container__image" style="background-image: url('/images/image-2.jpg')"></div>
  <div class="image-bar-container__image" style="background-image: url('/images/image-3.jpg')"></div>
  <div class="image-bar-container__image" style="background-image: url('/images/image-1.jpg')"></div>
</div>