<nav class="navbar">
  <a class="navbar__home">
    FLAVIA CANEPA
  </a>
  <ol class="navbar__links">
    <li class="navbar__item">
      <a class="navbar__link" href="/">
        {{i18n 'navbar.home'}}
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/commissions-portrait">
        {{i18n 'navbar.commissions'}}
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/about">
        {{i18n 'navbar.aboutMe'}}
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/FAQ">
        {{i18n 'navbar.faq'}}
      </a>
    </li>
  </ol>
</nav>