<nav class="navbar">
    <a class="navbar__home">
        FLAVIA CANEPA
    </a>
    <ol class="navbar__links">
        <li class="navbar__item"><a class="navbar__link" href="/">HOME</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/commissions-portrait">Commisions</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/about">ABOUT ME</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/FAQ">FAQ</a></li>
        <li class="navbar__item">LOGIN</li>
    </ol>
</nav>