{{> mainSectionBar barTitle='commissions.order_your_portrait' barSubTitle='commissions.text'}}
<div class="price-boxes-container">
  {{#each priceBoxes}}
  {{> commissionPriceSection }}
  {{/each}}
</div>