<div class="commissions-section">
  {{> imagesBar images=imagesBar}}
  {{!-- {{> mainSectionBar barTitle='commissions.orderYourPortrait' barSubTitle='commissions.text'}} --}}

  <div class="section-wrapper">
    <div class="brand-section__sub-header brand-section__sub-header--light">
      <h1>
        {{i18n 'commissions.orderYourPortrait'}}
      </h1>
    </div>
    <div class="commission-section-container">
      {{#each priceBoxes}}
        {{> commissionPriceSection}}
      {{/each}}
    </div>
  </div>
</div>