<html>
  <div>
    <p>
      Has recibido un contacto desde flavia.cl, informaci&oacute;n:
      <br>
      <br>
      <strong>Nombre: </strong>{{name}}<br>
      <strong>Email: </strong>{{email}}<br>
      <strong>Tipo de retrato: </strong>{{type}}<br>
      <strong>Informaci&oacute;n adicional: </strong>{{body}}<br>
    </p>
  </div>
</html>