<div class="FAQ-section">
  <div class="FAQ-section__header">
    <h2>F.A.Q.</h2>
    <p>MOST FREQUENT ASKED QUESTIONS BY CLIENTS AND ARTISTS</p>
  </div>
  <div class="FAQ-section__sub-header">
    <h3>About Commissions</h3>
  </div>
  <section class="FAQ-section__questions-section-container">
    <div class="FAQ-section__question-containter">
      <div class="FAQ-section__question-containter__icon">
        <i class="fas fa-question-circle fa-2x"></i>
      </div>
      <h2>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy?</h2>
      <p>
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
        Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
        Ipsum.</p>
    </div>
    <div class="FAQ-section__question-containter">
      <div class="FAQ-section__question-containter__icon">
        <i class="fas fa-question-circle fa-2x"></i>
      </div>
      <h2>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy?</h2>
      <p>
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
        Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
        Ipsum.</p>
    </div>
  </section>
  <div class="FAQ-section__sub-header FAQ-section__sub-header--dark">
    <h3>About my art</h3>
  </div>
  <section class="FAQ-section__questions-section-container FAQ-section__questions-section-container--dark">
    <div class="FAQ-section__question-containter FAQ-section__question-containter--dark">
      <div class="FAQ-section__question-containter__icon">
        <i class="fas fa-question-circle fa-2x"></i>
      </div>
      <h2>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy?</h2>
      <p>
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
        Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
        Ipsum.</p>
    </div>
    <div class="FAQ-section__question-containter FAQ-section__question-containter--dark">
      <div class="FAQ-section__question-containter__icon">
        <i class="fas fa-question-circle fa-2x"></i>
      </div>
      <h2>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy?</h2>
      <p>
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
        Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
        Ipsum.</p>
    </div>
  </section>
</div>
</div>