{{> imagesBar images=imagesBar}}
{{> mainSectionBar barTitle='index.title' barSubTitle='index.subtitle'}}
<div class="index-links-container">
  <div class="index-links-container__inner-container">
    <div class="index-links-container__card">
      <div class="index-links-container__card-image" style="background-image: url('/images/image-1.jpg')"></div>
      <a class="index-links-container__card-link" href="/commissions-portrait">{{i18n 'index.portrait.link'}}</a>
      <p class="index-links-container__card-text">{{i18n 'index.portrait.text'}}</p>
    </div>
    <div class="index-links-container__card">
      <div class="index-links-container__card-image" style="background-image: url('/images/image-3.jpg')"></div>
      <a class="index-links-container__card-link" href="/FAQ">{{i18n 'index.faq.link'}}</a>
      <p class="index-links-container__card-text">{{i18n 'index.faq.text'}}</p>
    </div>
  </div>
</div>