@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #30413b;
  color: #fff;
  min-height: 3.75rem;
  padding: 0 3.75rem; }

.footer__link {
  color: #fff; }

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #a59578;
  color: #fff;
  min-height: 5rem;
  padding: 0 3.75rem; }

.navbar__links {
  list-style-type: none;
  padding-left: 0;
  display: flex; }

.navbar__item {
  margin: 0 1rem; }

.navbar__link {
  color: #fff;
  text-decoration: none; }

.about-section__picture-container {
  display: flex; }

.about-section_image {
  max-width: 25rem;
  height: 25rem; }

.about-section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #D7CFBF;
  min-height: 4rem; }
  .about-section__title h2 {
    color: black; }

.about-section__text {
  padding: 4% 10% 6% 10%; }

.order-your-portrait-band {
  background-color: #30413b;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0; }

.commission-section {
  background-color: #30413b;
  color: #fff;
  margin: 4rem auto;
  min-height: 35rem;
  max-width: 65rem;
  display: flex; }

.commission-section__left {
  background-position: center;
  background-size: cover; }

.commission-section__right {
  padding: 1rem 2rem; }

.commission-section__left, .commission-section__right {
  flex: 1;
  text-align: center; }

.commission-section-price-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.commission-section-price-box {
  padding: 1rem; }

.commission-section-price-box__size {
  border-bottom: 1px solid #fff;
  padding: 0.5rem 0; }

.commission-section-price-box__price {
  padding: 0.5rem 0;
  font-size: 2rem; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.uppercase {
  text-transform: uppercase !important; }
