@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #03045e;
  color: #fff;
  min-height: 3.75rem;
  padding: 0 3.75rem; }

.footer__link {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none; }

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ade8f4;
  color: #03045e;
  min-height: 5rem;
  padding: 0 3.75rem; }

.navbar__links {
  list-style-type: none;
  padding-left: 0;
  display: flex; }

.navbar__item {
  margin: 0 1rem; }

.navbar__link {
  color: #03045e;
  text-decoration: none;
  text-transform: uppercase; }

.about-section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #daf5fa;
  min-height: 4rem; }

.about-section__text {
  padding: 4% 10% 6% 10%; }

.commission-section {
  background-color: #03045e;
  color: #fff;
  margin: 4rem auto;
  min-height: 35rem;
  max-width: 65rem;
  display: flex; }

.commission-section__left {
  background-position: center;
  background-size: cover; }

.commission-section__right {
  padding: 1rem 2rem; }

.commission-section__left, .commission-section__right {
  flex: 1;
  text-align: center; }

.commission-section-price-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.commission-section-price-box {
  padding: 1rem; }

.commission-section-price-box__size {
  border-bottom: 1px solid #fff;
  padding: 0.5rem 0; }

.commission-section-price-box__price {
  padding: 0.5rem 0;
  font-size: 2rem; }

.commission-book-portrait-details {
  max-width: 50rem;
  margin: auto;
  margin-bottom: 1rem; }

.FAQ-section__sub-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #daf5fa;
  min-height: 4rem; }
  .FAQ-section__sub-header h3 {
    color: #17253D;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 1rem; }

.image-bar-container {
  display: flex;
  min-height: 25rem;
  align-items: stretch; }

.image-bar-container__image {
  flex: 1;
  background-size: cover;
  background-position-x: center;
  background-position-y: top; }

.brand-section__sub-header {
  background-color: #02033b;
  text-align: center;
  padding: 2rem;
  color: #fff; }
  .brand-section__sub-header h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 1rem; }

.brand-section__sub-header--light {
  background-color: #daf5fa;
  color: #17253D; }

.brand-section__content-container {
  padding: 6% 14% 6% 14%;
  background-color: #03045e;
  color: #fff; }

.brand-section__content-container--light {
  background-color: #fff;
  color: #1E1E1E; }
  .brand-section__content-container--light .brand-section__list-item-custom-bullet {
    color: #ade8f4; }

.brand-section__list {
  color: #fff;
  margin: 0px 0px 20px 0px;
  padding: 0% 0% 3% 0%; }
  .brand-section__list .fa-question-circle::before {
    color: #ade8f4; }
  .brand-section__list h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.2px;
    margin: 15px 0px 20px 0px; }
  .brand-section__list p {
    line-height: 1.4rem;
    margin: 0; }

.brand-section__list--dark h2 {
  color: #fff; }

.brand-section__list-item {
  position: relative;
  list-style: none; }

ol > .brand-section__list-item::before {
  content: "1";
  text-align: center;
  font-size: 2rem;
  display: block;
  position: absolute;
  font-weight: bold;
  left: -3rem;
  top: -0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #ade8f4;
  color: #03045e;
  border-radius: 100%; }

ol > .brand-section__list-item:nth-child(2)::before {
  content: "2"; }

ol > .brand-section__list-item:nth-child(3)::before {
  content: "3"; }

ol > .brand-section__list-item:nth-child(4)::before {
  content: "4"; }

ol > .brand-section__list-item:nth-child(5)::before {
  content: "5"; }

ol > .brand-section__list-item:nth-child(6)::before {
  content: "6"; }

.brand-section__list-item-custom-bullet {
  position: absolute;
  left: -3rem; }

.main-section-bar {
  background-color: #03045e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 25% 2% 25%;
  text-align: center; }
  .main-section-bar p {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4em;
    font-size: 20px; }
  .main-section-bar h2 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.875rem; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Font Awesome 5 Free';
  font-weight: 300;
  color: #1E1E1E; }

.uppercase {
  text-transform: uppercase !important; }

.index-links-container {
  display: flex;
  justify-content: space-around;
  background-color: #d7d9db;
  padding: 3% 9% 4% 9%; }

.index-links-container__card {
  display: flex;
  padding: 2rem 2.5rem;
  border-radius: 0.625rem;
  width: 25rem;
  background-color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: space-between; }

.index-links-container__card-image {
  background-image: url(/images/image-1.jpg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  height: 16rem;
  width: 16rem;
  margin: auto; }

.index-links-container__card-link {
  font-size: 1.125rem;
  font-weight: 500;
  color: #05068f;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #05068f;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  text-decoration: none; }
  .index-links-container__card-link:focus, .index-links-container__card-link:hover {
    color: #03045e;
    background-color: #ade8f4;
    border-color: #ade8f4; }
